<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579700523437-iupmcv6ujvp72d9sekdc3ddg722vcfir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579700523437-iupmcv6ujvp72d9sekdc3ddg722vcfir</string>
	<key>API_KEY</key>
	<string>AIzaSyB_p0nNI5SUMkll96v0rnMK73ieSJ2ciFI</string>
	<key>GCM_SENDER_ID</key>
	<string>579700523437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.komaki.TentenV10</string>
	<key>PROJECT_ID</key>
	<string>tentenv9</string>
	<key>STORAGE_BUCKET</key>
	<string>tentenv9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579700523437:ios:62969cb78e47817c2f6124</string>
</dict>
</plist>